__pycache__/
*.py[cod]
.DS_Store

.venv/
venv/
.env/

build/
dist/
*.egg-info/

runs/*
!runs/.gitkeep

models/*
!models/README.md

*.MP4
*.mp4
*.MOV
*.mov

*.ckpt
*.pth
*.pt

third_party/aruco_nano/*
!third_party/aruco_nano/README.md

third_party/deepcharuco/*
!third_party/deepcharuco/README.md
